/* 1024 */
@media screen and (max-width: 1023px) {
    .main1_info {left: -1730px;}
    .main2_info {right: -1730px;}
}

/* 768 */
@media screen and (max-width: 767px) {
    .main1_info {left: -1860px;}
    .main2_info {right: -1860px;}
}

/* 640 */
@media screen and (max-width: 639px) {
   .main1_con { flex-direction: column; }
   .main1_info {position: static;}
   .main2_con { flex-direction: column; }
   .main2_info {position: static;}
}