@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, *:before, *:after { box-sizing: border-box; -moz-box-sizing: border-box; image-rendering: -webkit-optimize-contrast; }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; -webkit-text-size-adjust: 100%; line-height: 125%;}

/* HTML5 display-role reset for older browsers */
html{overflow-x: hidden;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 125%; }
ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
button, html input[type=button], input[type=reset], input[type=submit] { -webkit-appearance: button; cursor: pointer; }
input:not([type='radio']):not([type='checkbox']), textarea, select { -webkit-appearance: none; }
form, label { -webkit-text-size-adjust: 100%; }
mark { background-color: transparent; color: inherit; }
body, html { overflow-x: hidden; }
body.active { overflow: hidden; width: 100%; height: 100%; position: fixed !important; }
a { text-decoration: none; -webkit-transition: all .3s linear; transition: all .3s linear;color: inherit; }
img { max-width: 100%; vertical-align: top; image-rendering: -webkit-optimize-contrast; }
textarea { resize: vertical; }
iframe { border: none; width: 100%; }
ul, h1, h2, h3, h4 { margin: 0; padding: 0; list-style: none; }
strong, b { font-weight: bold; }
em, i { font-style: italic; }

:root {
    --priColor: #E4DFB5;
    --secColor: #fff;
    --thiColor: #161616;    
    --priFont: 'Inter', sans-serif;
    --secFont: 'Poppins', sans-serif;
}

body {font-family: var(--priFont); background-color: var(--secColor); color: #000;}
.wrapper {max-width: 1400px; margin: 0 auto; width: 100%;}

#nav{background: var(--priColor); border-bottom: 2px solid #eee;}
    .nav_con {display: flex; justify-content: space-evenly; align-items: center; min-height: 100px; width: 100%;}

#header{background: var(--priColor);}
    .header_info {text-align: center; padding: 25px 0}
    .header_info h2{font-size: 56px;}
    .header_info span{display: block;}

#hero{min-height: 100vh; width: 100%;} 
    .hero_con {width: 100%;}
    .hero_con video {height: 100vh; width: 100vw; object-fit: cover; clip-path: inset(20px 40px 20px 20px round 30px);}
    .hero_con .hero_info { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: var(--secColor); text-align: center;}
    .hero_con .hero_info h2 {font-size: 48px;}

#main{min-height: 100vh; width: 100%; margin-top: 1000px;position:relative; background: var(--priColor);}
    #main h1 {font-size: 100px;}
    #main p {position: absolute;max-width: 500px; font-size: 32px; text-align: center;}
    #main figure img {clip-path: inset(10% 10% 10% 10% round 30px);}
    .main1_con {min-height: 100vh; display: flex; align-items: center; gap: 50px;}
    .main2_con {min-height: 100vh; display: flex; flex-direction: row-reverse; align-items: center; gap: 50px;}
    [class^="sparkle"] {max-width: 30px; position: absolute; }
    .sparkle1 {left: 10%; top: 15%;}
    .sparkle2 {left: 30%;}
    .sparkle3 {left: 20%; bottom: -1%;}

#bottom{min-height: 100vh; width: 100%; display: flex; justify-content: center; align-items: center; position: relative; background: var(--thiColor);}
    .bottom_info {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: var(--secColor); text-align: center;}
    .bottom_info h2 {font-weight: bold; font-family: var(--secFont); font-size: 92px;   background: linear-gradient( to right, rgb(255, 255, 255) 50%, rgb(37, 37, 37) 50% ); background-size: 200% 100%; background-position-x: 100% ; color: transparent; background-clip: text;}
    
    .bottom_images {display: flex; justify-content: space-between; width: 100%;}
    .bottom_images a { transition: 0.5s ease;}
    .bottom_images a:first-child:hover { transform: rotate(-4deg);}
    .bottom_images a:nth-child(2):hover { transform: rotate(2deg);}
    .bottom_images a:last-child:hover { transform: rotate(4deg);}
    .bottom_images img {max-width: 250px; height: auto; filter: grayscale(100%); transition: 1s ease;}
    .bottom_images img:hover {filter: unset; transform:translateY(-10px);}
#footer{min-height: 100vh; width: 100%;}


